$color_pink: #E5597C;
$color_red: #d84949;
// MENU
nav.navbar.navbar-default {
z-index: 99999;
}

//SERVICES PAGE

.buy-service-inner {
  min-height: 300px;
}

.additional-service-inner {
  min-height: 300px;
}
// HOME PAGE

.sold-property-section {
  .sold-property-inner {
    .property-thumbnail {
      width: 100%;
      height: auto;
      max-height: 239px;
    }
  }
}
.sold-property-section .address {
  font: 13px/20px 'Raleway', sans-serif;
  display: block;
  text-transform: capitalize;
  padding: 15px 10px;
  min-height: 74px;
  transition: all 0.7s;
}


//PROPERTIES PAGE
.properties-archive {
  .property-listing {
    position: relative;
  }
  .sold {
    color: white;
    background: red;
    text-transform: uppercase;
    position: absolute;
    padding: 0.25em 2em;
    z-index: 999;
    top: 0;
    box-shadow: 0 0 13px -1px #d84949;
    right: 0;
  }
}

///SINGLE PROPERTY PAGE
.title {
  text-transform: uppercase;
}



.listing-image-main-gallery {
  max-height: 500px;
  overflow: hidden;
  border: 3px solid white;
  box-shadow: 0 0 10px 3px #d4d4d4;
  margin-bottom: 1em;
  
  .slick-slide>img {
    width: 100%;
  }

  .slick-arrow{
    border: none;
    background: none;
  }

  .slick-prev {
    position: absolute;
    top: 50%;
    z-index: 9999;
    color: white;
    font-size: 3em;
  }

  .slick-next {
    @extend .slick-prev;
    right: 0;
  }
}

.gallery-thumbnail {
  padding-right: 0.5em;
  border: 3px solid white;
  box-shadow: 0 0 4px 2px #d4d4d4;
}

.acf-map {
  width: 100%;
  height: 200px;
  border: white solid 3px;
  box-shadow: 0 0 5px 3px #f3f3f3;
  margin: 20px 0;
  img {
    max-width: inherit !important;
  }
}

.property-page {
  font-family: 'Raleway',sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 2em;

  .main {
    h2 {
      text-transform: uppercase;
      border-bottom: 1px solid $color_pink;
    }
  }

  ul {
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }

  ul.floors-list {
    li>h3 {
      text-transform: uppercase;
      margin-bottom: 0.75em;
      font-size: 1.3em;
    }
  }

  ul.rooms-list {
    padding-left: 1em;
    li {
      border-bottom: 1px dotted grey;
      padding-bottom: 1em;
      margin-bottom: 2em;
    }

    .room-name {
      margin-bottom: 0.25em;
    }
  }
}

.cta.property {
  font-family: 'Raleway',sans-serif;
  background: #2f2929;
  text-align: center;
  padding: 3em;
  color: white;

  h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1em;
    font-size: 2.7em;
  }

  form {
    input, textarea {
      padding: 1em;
      border-radius: 2px;
      background: white;
      border: none;
      margin-bottom: 1.25em;
      color: black;
      font-weight: bold;
      letter-spacing: 1px;
    }

    input {
      width: 100%;
    }

    textarea {
      width: 100%;
      margin-bottom: 2em;
    }

    input[type="submit"] {
      width: auto;
      float: none;
      border-radius: 4px;
      background: none;
      color: white;
      text-transform: uppercase;
      border: 1px solid white;
      padding: 1em;
      letter-spacing: 1px;
      font-size: 1.5em;
    }
  }
}

.sidebar {
  .listing-id-status {
    text-align: right;
    border-bottom: 1px solid $color_pink;
    padding-bottom: 1em;

    .sold {
      background: red;
      color: white;
      text-transform: uppercase;
      float: left;
      font-size: 0.8em;
      padding: 0.5em 1em;
    }
    .property-id {
      display: block;
      padding-top: 0.3em;
    }

  }

  h2.listing-price {
    text-align: right;
    border-bottom: 1px solid $color_pink;
    padding-bottom: 0.5em;
  }

  .listing-properties-general,
  .listing-properties-evaluation,
  .listing-properties-dimensions,
  .listing-features{
    border-bottom: 1px solid $color_pink;
    padding-bottom: 1em;
  }
  h3 {
    font-size: 1.5em;
  }
  ul.listing-features {
    .feature-title {
      text-decoration: underline;
    }
    ul.features-items-list {
      display: inline-table;
      margin-bottom: .2em;
    }
  }


}

.listing-form-questions {
  h3 {
    margin-bottom: 1em;
    font-size: 1.4em;
    font-weight: 900;
  }
  form {
    input, textarea {
      padding: 1em;
      border-radius: 2px;
      background: white;
      border: 1px solid black;
      margin-bottom: 1em;
      color: black;
      font-weight: bold;
      letter-spacing: 1px;
    }

    input {
      width: 100%;
    }

    textarea {
      width: 100%;
      margin-bottom: 1em;
    }

    input[type="submit"] {
      width: 100%;
      float: none;
      border-radius: 4px;
      background: none;
      color: $color_pink;
      border: 1px solid $color_pink;
      padding: 1em;
      letter-spacing: 1px;
    }
  }

}

@media screen and (min-width: 768px) {
  .sidebar {
    padding-left: 30px;
  }
}



ul.social-icons {
  i.social-icon {

    position: relative;
    mask-size: 20px 18px;
    height: 27px;
    width: 20px;
    margin: 0 auto;
    margin-top: 13px;
    content: '';
    background-color: #aaa;
    display: block;
    transition: all 0.5s ease;
    &:hover {

      background: #000;
    }
  }

  li {
    transition: all 1s ease;
    &:hover {
      background: #aaa;
    }
  }

  .facebook {
    mask: url("../assets/img/social-icons/facebook.svg") no-repeat;
  }

  .instagram {
    mask: url("../assets/img/social-icons/instagram.svg") no-repeat;
  }

  .pinterest {
    mask: url("../assets/img/social-icons/pinterest.svg") no-repeat;
  }

  .linked-in {
    mask: url("../assets/img/social-icons/linkedin.svg") no-repeat;
  }

  .houzz {
    mask: url("../assets/img/social-icons/houzz.svg") no-repeat;
  }

  .french {
    mask: url("../assets/img/social-icons/french.svg") no-repeat;
  }

  .english {
    mask: url("../assets/img/social-icons/english.svg") no-repeat;
  }
}

ul.social-icons.footer {


  i.social-icon {
    position: relative;
    mask-size: 20px 18px;
    height: 27px;
    width: 20px;
    margin: 0 auto;
    margin-top: 13px;
    content: '';
    background-color: #aaa;
    display: block;
    transition: all 0.5s ease;
    &:hover {

      background: #000;
    }
  }

  li {
    transition: all 1s ease;

    &:hover {
      background: none;
    }

    a {
      height: auto;
    }
  }
}


.pr-content, p{
  font: 16px/32px 'proxima_novaregular';
  font-style: normal;
  line-height: 1.5;
}

.buy-rent-section {
  padding-bottom: 60px;
}

h1 {
  line-height: 1.25;
}

.sold-property-section {
  padding: 60px 0;
  h2 {
    padding: 0 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}

.all-properties-cta {
  text-align: center;
  margin: 30px 0 0;
}

.buyer-property-section {
  background: #eee;
  margin-top: 30px;

  @extend .sold-property-section;

  .buyer-property-inner {
    background: white;
    @extend .sold-property-inner;
  }
}

.buy-rent-section .pr-image {
  margin: 0 50px 30px 0;
}

#for-buyers {
  padding: 60px 0 0px;
}